.home-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.default-message {
  font-family: Futura;
  padding: 10px 60px 10px 60px;
}

.default-message ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  text-decoration: none;
}

.default-message img {
  height: 220px;
  width: 300px;
}

ul > a {
  text-decoration: none;
}

.default-message li {
  font-family: Futura;
  list-style: none;
  width: 575px;
  height: 220px;
  color: black;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.no-search-results {
  background-color: white;
  color: #3B3B3B;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 60px 10px 60px;
  font-size: 24px;
  font-weight: 400;
}

.right-side{
  padding-left: 15px
}

.right-side h3,
p {
  margin: 15px  0px;
}

.right-side p:nth-child(3){
  color: #929292;
}

.right-side p:first-child{
  color: black;
}

.search-input {
  font-family: Futura;
  font-size: x-large;
  border-radius: 8px;
  height: 40px;
  display: block;
  width: 100%;
  margin: 20px;
  padding: 10px;
  border: solid 1px #929292;
  outline: none;
}

.search-section > form{
  display:flex;
  align-items: center;
}

.search-section form div {
  padding: 25px 25px;
  max-width: 800px;
}

.submit-button {
  font-family: Futura;
  background: linear-gradient(270deg, #2181fe, #21edfe, #3621fe);
  -webkit-animation: AnimationName 9s ease infinite;
  -moz-animation: AnimationName 9s ease infinite;
  animation: AnimationName 9s ease infinite;
  background-size: 600% 600%;
  border-radius: 8px;
  border: none;
  color: white;
  width: 100px;
  height: 40px;
  margin-left: 5px;
  font-size: x-large;
  cursor: pointer;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 1250px){
  .default-message ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 650px) {
  .default-message li {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
